<div style="padding: 10px; margin-top: 150px">
    <h2>Dashboard</h2>
    <div>
        <label>Select Map:</label>
        <select [(ngModel)]="dashboard.map" (change)="onChange($event.target.value)"> // value is a string or number
            <option *ngFor="let map of maps" [ngValue]="map">{{map.name}}</option>
        </select>
    </div>
    <div>
        <button (click)="start()">start</button>
    </div>
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->